<div class="null" #container>
  <div class="wrap">
    <h3>
      <span>
        <b [class.is-dark]="platformUtilService.isDarkMode">ChatGPT</b>
        <i>{{appService.version}}</i>
      </span>
    </h3>
    <div class="item">
        <span class="label" [hidden]="!platformUtilService.isPC && !platformUtilService.isTauri">
          <i class="i"><bulb-icon></bulb-icon></i>
          <i class="v">拖拽窗口更改尺寸可以切换至PC模式布局</i>
        </span>
    </div>
    <div class="item">
        <span class="label">
          <i class="i"><bulb-icon></bulb-icon></i>
          <i class="v">合理用提示词（prompt）将会让AI更精确理解你的问题</i>
        </span>
    </div>
    <div class="item">
      <div class="demo-container">
        <div [ngStyle]="{background: 'none'}" class="prompt-demo">
          <div class="role"># 扮演技术审查员</div>
          <div class="content">{{promptDemoText}}</div>
          <button (click)="tryPromptDemo()">试一试 Prompt</button>
        </div>
      </div>
    </div>
  </div>
</div>
