<div class="window mobile" [class.show]="!appService.isPromptMode">
  <div class="tab">
    <div class="item" [class.active]="appService.tabState === TAB_STATE.ASK_MODE"
         (click)="appService.tabStateChange(TAB_STATE.ASK_MODE);">
            <span class="icon">
        <commit-icon></commit-icon>
      </span>
      <span class="text">问答</span>
    </div>
    <div class="item favorite" [class.active]="appService.tabState === TAB_STATE.FAVORITE_MODE"
         (click)="appService.tabStateChange(TAB_STATE.FAVORITE_MODE)">
            <span class="icon" style="color: RGBA(248,209,82,1)">
        <favorite-icon></favorite-icon>
      </span>
      <span class="text">收藏<i *ngIf="appService.favoriteCount > 0"> ({{appService.favoriteCount}})</i></span>
    </div>
  </div>
  <div [hidden]="appService.tabState === TAB_STATE.FAVORITE_MODE" class="chat-logs" #historyElementRef>
    <app-no-data *ngIf="SHOW_NO_DATA"></app-no-data>
    <message-card [dataList]="appService.askList"></message-card>
  </div>
  <div class="favorite-container" [hidden]="appService.tabState === TAB_STATE.ASK_MODE">
    <message-card [dataList]="appService.favoriteList" [type]="MESSAGE_CARD_USE_TYPE.FAVORITE"
                  *ngIf="appService.favoriteList.length"></message-card>
    <div *ngIf="!appService.favoriteList.length" class="favorite-null">
      <text-loading *ngIf="appService.favoriteLoading"></text-loading>
      <span *ngIf="!appService.favoriteLoading">暂无任何收藏～</span>
    </div>
  </div>


  <div
      class="msg-box"
      [hidden]="appService.tabState !== TAB_STATE.ASK_MODE"
      (outsideClick)="historyService.close()"
  >
    <div class="state-bar" *ngIf="appService.tabState === TAB_STATE.ASK_MODE">
      <div class="wrap" [class.write-pull-state]="IS_MESSAGE_APPEND_STATE">
        <div class="pull" [hidden]="!IS_MESSAGE_APPEND_STATE">
          <span>{{this.appService.newTempDataAppEndState === STREAM_STATE.PENDING ? '等待响应中' : '生成内容中'}}</span>
          <text-loading></text-loading>
        </div>
        <div class="state" [hidden]="IS_MESSAGE_APPEND_STATE">
          <div class="item switch" [class.active]="configService.CONFIG.CONTEXT_ENABLE"
               (click)="contextService.switchAskContextEnableStateHandle()">Context
          </div>
          <div class="item icon" (click)="contextService.create()">
            Token≈ {{contextService.askContextTotalContext}}
          </div>
          <div class="item btn" (click)="openPromptPage()">Prompt</div>
        </div>

      </div>
    </div>
    <div class="container">
      <history *ngIf="!platformUtilService.isPC" (selectedEvent)="historySelectedEventHandle($event)"></history>
      <div class="wrap">
                <span class="icon" (click)="settingService.open();">
          <gear-icon></gear-icon>
        </span>
        <div class="input-box">
        <textarea
            type="submit" send-action (sendActionCallback)="appService.send()"
            (focusCallback)="layoutService.searchWidgetIsFocus = true"
            (blurCallback)="layoutService.searchKeyBlur();" #searchWidgetRef
            [(ngModel)]="appService.searchKey"
            (ngModelChange)="layoutService.searchKeyChangeHandle($event)"
            placeholder="请输入问题" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
            </textarea>
          <div class="tips" [hidden]="!layoutService.displaySearchWidgetTips">
            ↑ ↓ 历史 / ⌘ + F 聚焦 / ⌘ + Enter 发送
          </div>
          <div class="clean-search-key" (click)="appService.clearSearchKey()" *ngIf="appService.searchKey.length > 0">
            <close-icon [type]="'fill'"></close-icon>
          </div>
        </div>
        <div class="send" (click)="appService.send()" *ngIf="platformUtilService.isBrowserMobile">
          <send-icon></send-icon>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="window mobile" [class.show]="appService.isPromptMode">
  <app-prompt [isPC]="false" *ngIf="appService.isPromptMode"></app-prompt>
</div>
