<div class="mask" (click)="close()"></div>
<div class="container">
  <h2>管理Context</h2>
  <div
      class="list"
      checkboxList
      #checkboxListRef="checkboxListRef"
      (checkboxChange)="checkboxChangeHandle($event)">
    <div class="wrap">
      <div class="no-data" [hidden]="appService.askContext.length">
        <ng-container *ngIf="appService.enableAskContext">暂无上下文～</ng-container>
        <ng-container *ngIf="!appService.enableAskContext">未开启上下文，要开启吗？
          <div class="btn" (click)="appService.switchAskContextEnableStateHandle()">开启</div>
        </ng-container>
      </div>

      <div
          class="context-group"
          checkboxClickHandle
          #checkboxClickHandleRef="checkboxClickHandleRef"
          [class.active]="checkboxRef.key === item.id && checkboxRef.selected"
          *ngFor="let item of appService.askContext; let i = index"
      >

        <div class="action">
          <checkbox
              #checkboxRef
              [key]="item.id"
              [defaultSelected]="defaultSelected"
              [checkboxListRef]="checkboxListRef"
              [checkboxClickHandleRef]="checkboxClickHandleRef"
          ></checkbox>
        </div>
        <div class="main">
          <div class="main-info">
            <span>#{{item.id}}</span>
            <span>date: {{item.updateTime |  dateFormat: 'HH:mm:ss'}}</span>
          </div>
          <div class="item" [attr.index]="i" *ngFor="let chatItem of item.list; let i = index">
            <div class="content">
              <div class="info">
                <span class="role"><i class="label">role:</i>{{chatItem.role}}</span>
                <span class="space"></span>
                <span class="token"><i class="label">token:</i>{{chatItem.token}}</span>
              </div>
              {{chatItem.content | substring: 500}}
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="footer-bar">
      <span style="margin-right: 8px;">数量: <i class="count">{{appService.askContext.length}}</i></span>
      <span>token: <i class="total">{{tokenTotal}} </i> - <i class="selected">{{selectedToken}}</i> = <i
          class="result">{{tokenTotal - selectedToken}}</i></span>
      <span class="space"></span>
      <!--      <input class="num"/>-->
      <span
          class="btn"
          (click)="selectedAll()"
          [class.disabled]="appService.askContext.length === 0"
      >{{checkboxListRef.isSelectedAll ? '反 选' : '全 选'}}</span>
      <span class="btn" (click)="close()">退出</span>
    </div>
    <div
        class="action delete"
        [class.active]="checkboxListRef.list.length"
        (click)="removeContextHandle()"
    >
      <delete-icon></delete-icon>
    </div>
  </div>

</div>

