<div class="mask" (click)="close()"></div>
<div class="container">
  <div class="navbar">
    <div class="btn" (click)="close()">
      <close-icon></close-icon>
    </div>
    <span class="ml-12">上下文</span>
  </div>
  <div
      class="list"
      checkboxList
      #checkboxListRef="checkboxListRef"
      (checkboxChange)="checkboxChangeHandle($event)">
    <div class="wrap">
      <div class="no-data" [hidden]="HIDE_NO_DATA">
        <ng-container *ngIf="configService.CONFIG.CONTEXT_ENABLE && contextService.askContextList.length===0">暂无上下文～
        </ng-container>
        <ng-container *ngIf="!configService.CONFIG.CONTEXT_ENABLE">未开启上下文，要开启吗？
          <div class="btn" (click)="contextService.switchAskContextEnableStateHandle()">开启</div>
        </ng-container>
      </div>

      <div
          [hidden]="!configService.CONFIG.CONTEXT_ENABLE"
          class="context-group"
          checkboxClickHandle
          #checkboxClickHandleRef="checkboxClickHandleRef"
          [class.active]="checkboxRef.key === item.id && checkboxRef.selected"
          *ngFor="let item of contextService.askContextList; let i = index"
      >

        <div class="action">
          <checkbox
              #checkboxRef
              [key]="item.id"
              [defaultSelected]="defaultSelected"
              [checkboxListRef]="checkboxListRef"
              [checkboxClickHandleRef]="checkboxClickHandleRef"
          ></checkbox>
        </div>
        <div class="main">
          <div class="main-info">
            <span>#{{item.id}}</span>
            <span>date: {{item.updateTime |  dateFormat: 'happy'}}</span>
          </div>
          <div class="item" [attr.index]="i" *ngFor="let chatItem of item.list; let i = index">
            <div class="content">
              <div class="info">
                <span class="role"><i class="label">role:</i>{{chatItem.role}}</span>
                <span class="space"></span>
                <span class="token"><i class="label">token:</i>{{chatItem.token}}</span>
              </div>
              {{chatItem.content | substring: 500}}
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="footer-bar">
      <span style="margin-right: 8px;">数量: <i class="count">{{contextService.askContextList.length}}</i></span>
      <span>token: <i class="total">{{tokenTotal}} </i> - <i class="selected">{{selectedToken}}</i> = <i
          class="result">{{tokenTotal - selectedToken}}</i></span>
      <span class="space"></span>
      <u-button
          [size]="'large'"
          (click)="selectedAll()"
          [disabled]="contextService.askContextList.length === 0 || !configService.CONFIG.CONTEXT_ENABLE"
      >{{checkboxListRef.isSelectedAll ? '反 选' : '全 选'}}</u-button>
      <u-button [size]="'large'" class="ml-6" [type]="'default'" (click)="close()">退出</u-button>
    </div>
    <div
        class="action delete"
        [class.active]="checkboxListRef.list.length"
        (click)="removeContextHandle()"
    >
      <delete-icon></delete-icon>
    </div>
  </div>

</div>

