<div class="window mobile">
  <div class="tab">
    <div
        class="item"
        [class.active]="appService.tabState === TAB_STATE.ASK_MODE"
        (click)="tabStateChange(TAB_STATE.ASK_MODE);"
    >
      <span class="icon" style="color: RGBA(59, 131, 240, 1)">
        <commit-icon></commit-icon>
      </span>
      <span class="text">问答</span>
    </div>
    <div
        class="item favorite"
        [class.active]="appService.tabState === TAB_STATE.FAVORITE_MODE"
        (click)="tabStateChange(TAB_STATE.FAVORITE_MODE)"
    >
      <span class="icon" style="color: RGBA(248,209,82,1)">
        <favorite-icon></favorite-icon>
      </span>
      <span class="text">收藏 <i *ngIf="appService.favoriteCount > 0"> ({{appService.favoriteCount}})</i></span>
    </div>
  </div>
  <div [hidden]="appService.tabState === TAB_STATE.FAVORITE_MODE" class="chat-logs" #historyElementRef>
    <div class="null" *ngIf="!appService.askList.length">
      <h3>ChatGPT - GUI</h3>
      <p>web版: <span>https://maydisease.github.io/chat-gpt-gui</span></p>
    </div>
    <div class="ask-list" *ngIf="appService.askList.length">
      <div class="ask-group" *ngFor="let item of appService.askList; let i = index;">
        <div class="question">
          <div class="info">
            <span class="text">#Q - {{i + 1}}</span>
            <span class="space"></span>
            <span
                *ngIf="item.state === HISTORY_LIST_ITEM_STATE.FINISH" class="btn action"
                (click)="appService.favoriteHandle(item)"
            >
              <book-icon></book-icon>
            </span>
          </div>
          <div class="content">
            <div class="html">{{item.questionContent}}</div>
          </div>
        </div>
        <div class="answer">
          <div class="content"
               [class.finish]="item.state === HISTORY_LIST_ITEM_STATE.FINISH"
               [class.pending]="item.state === HISTORY_LIST_ITEM_STATE.PENDING"
               [class.fail]="item.state === HISTORY_LIST_ITEM_STATE.FAIL"
          >
            <div class="loading" [hidden]="item.state !== HISTORY_LIST_ITEM_STATE.PENDING">LOADING...</div>
            <div class="html preview"
                 [hidden]="item.state === HISTORY_LIST_ITEM_STATE.PENDING"
                 [innerHTML]="item.answerContent"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="favorite-container" [hidden]="appService.tabState === TAB_STATE.ASK_MODE">
    <div class="list">
      <div class="wrap">
        <div class="card" *ngFor="let item of appService.favoriteList">
          <div class="html-wrap question">
            <span class="icon question"><question-icon></question-icon></span>
            <span class="icon delete" (click)="appService.deleteFavorite(item.id)"><delete-icon></delete-icon></span>
            <div class="content">{{item.questionContent}}</div>
          </div>
          <div class="html-wrap answer">
            <span class="icon smile"><smile-icon></smile-icon></span>
            <div class="content" [innerHTML]="item.answerContent"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="msg-box"
       [hidden]="appService.tabState !== TAB_STATE.ASK_MODE"
       cdkOverlayOrigin
       #trigger1="cdkOverlayOrigin"
       #trigger2="cdkOverlayOrigin"
  >
    <div class="wrap">
        <span class="icon" [class.active]="appService.isOpenSettingPanel" (click)="settingPanelDisplayHandle()">
          <gear-icon></gear-icon>
        </span>
      <textarea
          type="submit"
          send-action
          (sendActionCallback)="send()"
          (focusCallback)="appService.isOpenSettingPanel = false; searchWidgetIsFocus = true"
          (blurCallback)="searchKeyBlur();"
          (useHistorySearchCallback)="useHistorySearchHandle($event)"
          (keyEnterCallback)="keyEnterHandle()"
          #searchWidgetRef
          [(ngModel)]="appService.searchKey"
          (ngModelChange)="searchKeyChangeHandle($event)"
          [isUsedHistorySearchKeying]="isUsedHistorySearchKeying"
          placeholder="请输入问题"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5">
            </textarea>
      <div class="tips" [hidden]="!displaySearchWidgetTips">↑ ↓ 历史 / ⌘ + F 聚焦 / ⌘ + Enter 发送</div>
    </div>
  </div>
</div>

<div class="window pc">
  <div class="sidebar">
    <textarea
        send-action
        placeholder="请在这里输入问题  ⌘ + Enter 发送"
        (sendActionCallback)="send()"
        [(ngModel)]="appService.searchKey"
        (ngModelChange)="(appService.tabState === TAB_STATE.FAVORITE_MODE) ? appService.tabState = TAB_STATE.ASK_MODE : null"
    >
    </textarea>
    <div class="send"><span (click)="send()">发送</span></div>
  </div>
  <div class="chat">
    <h1 [hidden]="appService.tabState === TAB_STATE.FAVORITE_MODE">对话</h1>
    <h1 [hidden]="appService.tabState === TAB_STATE.ASK_MODE">收藏</h1>
    <div class="action-bar">
      <div
          class="action-btn favorite"
          [class.active]="appService.tabState === TAB_STATE.FAVORITE_MODE"
          (click)="tabStateChange(appService.tabState === TAB_STATE.FAVORITE_MODE ? TAB_STATE.ASK_MODE : TAB_STATE.FAVORITE_MODE)"
      >
        <favorite-icon></favorite-icon>
      </div>
    </div>
    <div class="wrap ask" [hidden]="appService.tabState === TAB_STATE.FAVORITE_MODE">
      <div class="item" *ngFor="let item of appService.askList.reverse(); let i = index;">
        <div class="content question">
          <p>
            <span>#Q - {{appService.askList.length - i}}</span>
            <span class="favorite" (click)="appService.favoriteHandle(item)"
                  [hidden]="item.state !== HISTORY_LIST_ITEM_STATE.FINISH">[收藏]</span>
            {{item.questionContent}}
          </p>
        </div>
        <div class="content answer">
          <span></span>
          <div class="preview loading" [hidden]="item.state !== HISTORY_LIST_ITEM_STATE.PENDING">LOADING...</div>
          <div class="preview" [hidden]="item.state === HISTORY_LIST_ITEM_STATE.PENDING"
               [innerHTML]="item.answerContent"></div>
        </div>
      </div>
    </div>
    <div class="wrap favorite" [hidden]="appService.tabState === TAB_STATE.ASK_MODE">
      <div class="item" *ngFor="let item of appService.favoriteList.reverse(); let i = index;">
        <div class="content question">
          <p><span>#F-{{appService.favoriteList.length - i}}</span>{{item.questionContent}}</p>
        </div>
        <div class="content answer">
          <span></span>
          <div class="preview" [innerHTML]="item.answerContent"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger1"
    [cdkConnectedOverlayOpen]="appService.isOpenSettingPanel"
    (overlayOutsideClick)="appService.isOpenSettingPanel = false"
>
  <div class="setting-panel">
    <div class="wrap">
      <div class="row">
        <div class="item">
          <label>秘钥</label>
          <div class="control">
            <textarea
                tabindex="-1"
                #appKeyWidgetRef
                [ngModel]="appService.appKey"
                (ngModelChange)="appService.updateAppKeyHandle($event)"
                placeholder="请在这里输入秘钥 密钥格式 sk-*"
                contenteditable="true"
            ></textarea>
          </div>
        </div>
        <div class="item">
          <label>模型</label>
          <div class="control">
            <select tabindex="-1">
              <option>gpt-3.5-turbo</option>
              <option>text-davinci-003</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger2"
    [cdkConnectedOverlayOpen]="appService.isOpenHistorySearchListPanel"
    (detach)="historySearchListPanelDetachHandle()"
>
  <div class="history-search-list-panel">
    <div class="action-bar">
      <span (click)="appService.cleanHistorySearchKeyList($event)">清理</span>
    </div>
    <div class="item" [class.active]="item.selected" *ngFor="let item of appService.historySearchKeyList">
      {{item.key}}
    </div>
  </div>
</ng-template>
