@import "github-markdown-dark-dimmed";
@import "github-markdown-light.scss";
//@import "github-markdown-dark-dimmed.scss";
@import "github-markdown.css";
@import "hljs.dark-dimmed";
@import "hljs.light";

:root {

  @include markdownDarkMimmed;
  @include hljsDarkDimmed;

  // 默认激活文字颜色
  --font-active-color: #000;
  // 默认文字色
  --font-color: #adbac7;
  // 默认文字辅助色
  --font-secondary-color: #768390;

  // 默认按钮文字色
  --button-font-color: #FFF;
  // 默认按钮背景色
  --button-background-color: #1f883d;
  // 默认按钮背景辅助色
  --button-active-background-color: #939392;
  --button-border-color: #rgba (31, 35, 40, 0.15);

  --link-button-font-color: #0969da;

  // 默认背景色
  --background-color: #23272E;
  // 默认背景辅助色
  --secondary-background-color: #1D2127;

  // 边框颜色
  --border-color: #454C56;

  // 控件的边框颜色
  --widget-border-color: #454C56;
  // 控件聚焦的边框颜色;
  --widget-focus-border-color: #0969da;
  // 控件的激活边框颜色
  --widget-active-border-color: #0969da;
  // 控件的边框颜色
  --widget-background-color: #1D2127;

  --widget-focus-background-color: #1D2127;

  // 控件文字颜色
  --widget-font-color: #adbac7;

  // 控件占位符颜色
  --widget-placeholder-font-color: #768390;

  --color-shadow-medium: 0 3px 6px #1c2128;

  --color-shadow-medium-reverse: -2px 0 15px #1c2128;

  --color-primer-active: #fd8c73;
  --color-action-list-item-default-hover-bg: #2B3037;

  --modal-panle-shadow-color: 0 8px 24px #1c2128;

  --dep-shadow-color: 0 8px 20px RGBA(0, 0, 0, .2);

  --item-selected-bg-color: #23272E;

  --widget-switch-bg-color: #272E36;
  --widget-switch-bg-hover-color: #2F353A;
  --widget-switch-side-block-bg-color: #22272F;
  --widget-switch-side-block-border-color: #606771;
  --widget-switch-mark-color: #606771;

  --widget-switch-active-bg-color: #284065;
  --widget-switch-active-bg-hover-color: #2C4A7E;
  --widget-switch-active-side-block-bg-color: #22272F;
  --widget-switch-active-side-block-border-color: RGBA(255, 255, 255, 0);
  --widget-switch-active-mark-color: #FFF;

  --widget-button-default-bg-color: #363F47;
  --widget-button-default-bg-hover-color: #454C56;
  --widget-button-default-bg-active-color: #3D444C;
  --widget-button-default-border-color: #454E57;
  --widget-button-default-border-hover-color: #768390;
  --widget-button-default-border-active-color: #626E7B;
  --widget-button-default-font-color: #AEB9C6;
  --widget-button-default-font-hover-color: #AEB9C6;
  --widget-button-default-font-active-color: #AEB9C6;

  --widget-button-danger-bg-color: #373E48;
  --widget-button-danger-bg-hover-color: #C93C38;
  --widget-button-danger-bg-active-color: #AC2F2C;
  --widget-button-danger-border-color: #444E57;
  --widget-button-danger-border-hover-color: #E5544B;
  --widget-button-danger-border-active-color: #F47167;
  --widget-button-danger-font-color: #E5534B;
  --widget-button-danger-font-hover-color: #CDD9E5;
  --widget-button-danger-font-active-color: #FFFFFF;

  --widget-button-primary-bg-color: #1F883E;
  --widget-button-primary-bg-hover-color: #177633;
  --widget-button-primary-bg-active-color: #38743B;
  --widget-button-primary-border-color: #20783A;
  --widget-button-primary-border-hover-color: #1D6A32;
  --widget-button-primary-border-active-color: #1D6A32;
  --widget-button-primary-font-color: #FFFFFF;
  --widget-button-primary-font-hover-color: #FFFFFF;
  --widget-button-primary-font-active-color: #FFFFFF;

}

[data-theme="light"] {

  @include markdownLight;
  @include hljsLight;

  // 默认激活文字颜色
  --font-active-color: #000;
  // 默认文字色
  --font-color: #1F2328;
  // 默认文字辅助色
  --font-secondary-color: #656d76;

  // 默认按钮文字色
  --button-font-color: #FFF;
  // 默认按钮背景色
  --button-background-color: #1f883d;
  // 默认按钮背景辅助色
  --button-active-background-color: #939392;
  --button-border-color: #rgba (31, 35, 40, 0.15);

  --link-button-font-color: #0969da;

  // 默认背景色
  --background-color: #FFF;
  // 默认背景辅助色
  --secondary-background-color: #f6f8fa;

  // 边框颜色
  --border-color: #d0d7de;

  // 控件的边框颜色
  --widget-border-color: #D0D7DE;
  --widget-focus-border-color: #1f883d;
  // 控件的激活边框颜色
  --widget-active-border-color: #D0D7DE;

  // 控件的边框颜色
  --widget-background-color: #F6F7FA;

  --widget-focus-background-color: #FFF;

  // 控件文字颜色
  --widget-font-color: #1F2328;

  // 控件占位符颜色
  --widget-placeholder-font-color: #656d76;

  --color-shadow-medium: 0 3px 6px rgba(140, 149, 159, 0.15);

  --color-shadow-medium-reverse: -2px 0 15px RGBA(140, 149, 159, 0.15);

  --color-primer-active: #fd8c73;
  --color-action-list-item-default-hover-bg: rgba(208, 215, 222, 0.32);

  --modal-panle-shadow-color: 0 8px 24px #1c2128;

  --dep-shadow-color: 0 8px 20px RGBA(0, 0, 0, .2);

  --item-selected-bg-color: RGBA(238, 238, 238, 1);


  --widget-switch-bg-color: #EAEEF2;
  --widget-switch-bg-hover-color: #E0E6EC;
  --widget-switch-side-block-bg-color: #FFFFFF;
  --widget-switch-side-block-border-color: #848F9A;
  --widget-switch-mark-color: #848F9A;

  --widget-switch-active-bg-color: #066BDA;
  --widget-switch-active-bg-hover-color: #0361C9;
  --widget-switch-active-side-block-bg-color: #FFF;
  --widget-switch-active-side-block-border-color: RGBA(255, 255, 255, 0);
  --widget-switch-active-mark-color: #FFF;

  --widget-button-default-bg-color: #F7F8F9;
  --widget-button-default-bg-hover-color: #F2F3F6;
  --widget-button-default-bg-active-color: #EBECEF;
  --widget-button-default-border-color: #D6D7DB;
  --widget-button-default-border-hover-color: #D3D4D7;
  --widget-button-default-border-active-color: #CDCFD1;
  --widget-button-default-font-color: #212327;
  --widget-button-default-font-hover-color: #212327;
  --widget-button-default-font-active-color: #212327;

  --widget-button-danger-bg-color: #F4F8FA;
  --widget-button-danger-bg-hover-color: #A30F26;
  --widget-button-danger-bg-active-color: #C0212A;
  --widget-button-danger-border-color: #D5D9DB;
  --widget-button-danger-border-hover-color: #901627;
  --widget-button-danger-border-active-color: #A9222D;
  --widget-button-danger-font-color: #CF222E;
  --widget-button-danger-font-hover-color: #FFFFFF;
  --widget-button-danger-font-active-color: #FFFFFF;

  --widget-button-primary-bg-color: #1F883E;
  --widget-button-primary-bg-hover-color: #177633;
  --widget-button-primary-bg-active-color: #38743B;
  --widget-button-primary-border-color: #20783A;
  --widget-button-primary-border-hover-color: #1D6A32;
  --widget-button-primary-border-active-color: #1D6A32;
  --widget-button-primary-font-color: #FFFFFF;
  --widget-button-primary-font-hover-color: #FFFFFF;
  --widget-button-primary-font-active-color: #FFFFFF;



}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #f6f8fa;
  }
  *::selection {
    background: RGBA(0, 0, 0, .2) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #23272E;
  }
  *::selection {
    background: RGBA(255, 255, 255, .2) !important;
  }
}
