:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  align-content: center;

  .panel {
    width: 360px;
    min-height: 220px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid RGBA(63, 121, 232, .5);
    box-shadow: 0 3px 10px RGBA(0, 0, 0, .3);
    background: RGBA(43, 43, 43, 1);
    animation: modal-in-anime .1s ease-in forwards;

    @keyframes modal-in-anime {
      0% {
        opacity: 0;
        transform: scale3d(.8, .8, 1) translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(0);
      }
    }

    .wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-radius: 5px;

      .content {
        flex: 1;
        display: flex;
        font-size: 14px;
        box-sizing: border-box;
        padding: 0 30px;
        text-align: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: RGBA(255, 255, 255, .6);

        span {

        }
      }

      .action-bar {
        width: 100%;
        height: 50px;
        display: flex;
        padding: 0 10px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;

        .btn {
          height: 30px;
          line-height: 30px;
          padding: 0 16px;
          font-size: 12px;
          cursor: pointer;
          margin-left: 10px;
          border-radius: 4px;
          border: 1px solid RGBA(255, 255, 255, .15);

          &.active {
            border: 1px solid RGBA(255, 255, 255, 0);
            background: RGBA(255, 255, 255, .15);
          }
        }
      }
    }
  }
}

:global {

}
